In [ ]:
import csv
import pandas as pd
import seaborn as sns

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn import preprocessing, linear_model

Beoordelingsformulier

De cursist kent het verschil tussen regressie en clustering
De cursist kan een onderbouwde keuze maken welke techniek het best passend is voor de betreffende casus
De cursist kan de gekozen techniek op een effectieve manier toepassen om hiermee relevante resultaten te verkrijgen

Bouw met deze tools een model om de levensverwachting te voorspellen op basis van genetics, length, mass, exercise, smoking, alcohol en sugar. Dit model kan de arts gebruiken om patiënten te wijzen op het belang van een gezonde levensstijl. Ook kan de arts inzichtelijk maken hoe de levensstijl van invloed is op de verzekeringspremie.

De factor voor de premie wordt berekend via de formule:

PremieFactor=genetic/lifespan

Dus als de genetische leeftijd 75 jaar is en de levensverwachting 80 jaar, dan is de premiefactor gelijk aan 0,9375. Dit betekent een korting van 6,25% op de premie.

Houd ook in deze stap rekening dat er nieuwe data beschikbaar kan komen.

# Waarom kies je voor lineaire regressie

Lineaire regressie kan in dit geval toegepast worden omdat we een afhankelijke variabele hebben (lifespan) en een aantal lineaire onafhankelijke variabele. We kiezen voor lineaire regressie omdat het weinig computerkracht kost en makkelijk toe te passen is in een interface. Er zijn ook andere manieren van regressie zoals decision tree of random forest, die kunnen ook toegepast worden.

Life span is de afhankelijke variabele (y)
De overige kolommen zijn de onafhankelijke variabelen/features(y)

formule enkele lineaire regressie <br>
y = ax + b <br>

formule meervoudige lineaire regressie <br>
y = mx + ... + m_5x_5 + b

y = afhankelijke variabele [lifespan] <br>
a/m = coefficients <br>
b = intercept <br>
x = onafhankelijke variabelen [columns] <br>

lifespan = m1 * genetics + m2 * exercise + m3 * smoking + m4 * sugar + b

Data inlezen

Scatterplot

In [20]:

lifestyle = pd.read_csv('./data/df_lifestyle.csv')

lifestyle.head()

   exercise  smoking  alcohol  sugar  lifespan
0       0.9      0.0      2.4    6.9      73.1
1       1.8      8.1      0.4    4.2      85.0
2       1.1      0.8      4.6    7.5      81.6
3       4.7     11.8      1.0    2.9      81.0
4       1.5      8.3      4.9    5.5      75.0

In [40]:
ng = pd.read_csv('./data/df_ng.csv')

ng.head(

   length   mass  exercise  smoking  alcohol  sugar  lifespan
0   185.0   99.7       0.9      0.0      2.4    6.9      73.1
1   172.0  105.4       1.8      8.1      0.4    4.2      85.0
2   176.0  111.4       1.1      0.8      4.6    7.5      81.6
3   164.0  111.4       4.7     11.8      1.0    2.9      81.0
4   178.0   71.6       1.5      8.3      4.9    5.5      75.0

In [21]:
bmi = pd.read_csv('./data/df_bmi.csv')

bmi.head()

   genetic  exercise  smoking  alcohol  sugar  lifespan        bmi
0     73.9       0.9      0.0      2.4    6.9      73.1  29.130752
1     86.0       1.8      8.1      0.4    4.2      85.0  35.627366
2     83.3       1.1      0.8      4.6    7.5      81.6  35.963326
3     82.8       4.7     11.8      1.0    2.9      81.0  41.418798
4     78.7       1.5      8.3      4.9    5.5      75.0  22.598157

In [22]:
bmi.tail()

      genetic  exercise  smoking  alcohol  sugar  lifespan        bmi
4081     80.3       3.7      0.1      5.6    5.8      80.7  37.416064
4082     75.3       3.6      6.2      5.6    7.6      71.1  49.382716
4083     93.1       2.7      9.4      4.9    6.6      90.0  32.277932
4084     77.9       2.3     13.2      0.8    6.2      75.9  31.418685
4085    101.3       1.2      8.2      6.0    6.2      96.9  36.555002

In [23]:
# Creating train and test sets

In [24]:
x = bmi[['genetic','exercise','smoking','alcohol','sugar','bmi']]
n_samples = x.shape[0]
y = bmi[['lifespan']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state = 42)

display(n_samples)
x.head()
y.head()

4086

   lifespan
0      73.1
1      85.0
2      81.6
3      81.0
4      75.0

In [41]:
x1 = lifestyle[['exercise','smoking','alcohol','sugar']]
n1_samples = x.shape[0]
y1 = bmi[['lifespan']]

x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size= 0.3, random_state = 42)

display(n1_samples)
x.head()
y.head()

4086

   lifespan
0      73.1
1      85.0
2      81.6
3      81.0
4      75.0

In [45]:
x2 = ng[['length','mass','exercise','smoking','alcohol','sugar']]
n2_samples = x2.shape[0]
y2 = bmi[['lifespan']]

x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size= 0.3, random_state = 42)

display(n_samples)
x2.head()
y2.head()

4086

   lifespan
0      73.1
1      85.0
2      81.6
3      81.0
4      75.0

In [46]:
# Creating a regression model

model = LinearRegression()

In [47]:
# Fit the model with training

In [48]:
model.fit(x_train,y_train)

LinearRegression()

In [49]:
# Make predictions

predictions = model.predict(x_test)

display(predictions)

array([[78.66685184],
       [67.96534074],
       [87.68937681],
       ...,
       [79.14496249],
       [68.92817118],
       [75.89440913]])

In [50]:
# x berekenen
print(
  'mean_squared_error : ', mean_squared_error(y_test, predictions))
print(
  'mean_absolute_error : ', mean_absolute_error(y_test, predictions))

mean_squared_error :  6.693212594542584
mean_absolute_error :  0.8749815106030503

In [53]:
coefs = list(zip(x.columns, model.coef_))
print(coefs)

[('genetic', array([ 1.00097045,  0.77769851, -0.26863618, -0.19752552, -0.0544587 ,
       -0.07155026]))]

In [54]:
r2_score(y_test, predictions)

0.9036393025342597

## Intercept

In [ ]:
b1 = model.intercept_
display(b)

In [ ]:
# interesting:

In [ ]:
# Verbeterpunten
# 1. BMI indexeren als een a laatste kolom in analyse

In [ ]:
# Creating lineair regression class object

m = linear_model.LinearRegression()
# reg.fit(x,y). Dus bij x alle onafhankelijke variabelen en bij y de afhankelijke variabelen.
m.fit(bmi[['genetic','exercise','smoking','alcohol','sugar','bmi']], bmi.lifespan) # bij fit vul je de onafhankelijke variabelen in

In [ ]:
# Wat zijn de m-waarden/coefficienten?

m.coef_

In [ ]:
# intercept

b2 = m.intercept_

print(b2)

In [ ]:
reg.predict([[73.9, 0.9, 0.0, 2.4, 6.9, 29.13]])

In [ ]:
0.99967882 * 73.9 +  0.81292276 * 0.9 + 0.27144087 * 0 + -0.19925092 * 2.4 + -0.04837325 * 6.9 + -0.07649345 * 29.13 + 1.4769415857268626

In [ ]:
73.04460503622687 / 73.04460522 * 100

In [ ]:
# Tips
# Bloeddruk

In [ ]:
def determineLifespan():
    
    genetic = f'{gen_coef} * {input()}'
    exercise = f'{exe_coef} * {input()}'
    smoking = f'{smo_coef} * {input()}'
    alcohol = f'{alc_coef} * {input()}'
    sugar = f'{sug_coef} * {input()}'
    bmi = f'{bmi_coef} * {input()}'
    b = reg.intercept_
    lifespan = 
    print(f'Lifespan

In [ ]:
genetic = f'{input()} * 0.99967882'

In [ ]:
gen_coef = 0.99967882
exe_coef = 0.81292276
smo_coef = -0.27144087
alc_coef = -0.19925092
sug_coef = -0.04837325
bmi_coef = -0.07649345

In [ ]:
def determineLifespan(): 
    
genetic = f'{gen_coef} * {input()}'
exercise = f'{exe_coef} * {input()}'
smoking = f'{smo_coef} * {input()}'
alcohol = f'{alc_coef} * {input()}'
sugar = f'{sug_coef} * {input()}'
bmi = f'{bmi_coef} * {input()}'

In [ ]:
def determineLifespan(genetic, exercise, smoking, alcohol, sugar, bmi):
    
    genetic = f'{gen_coef} * {input()}'
    exercise = f'{exe_coef} * {input()}'
    smoking = f'{smo_coef} * {input()}'
    alcohol = f'{alc_coef} * {input()}'
    sugar = f'{sug_coef} * {input()}'
    bmi = f'{bmi_coef} * {input()}'
    b = reg.intercept_
    lifespan = genetic + exercise + smoking + alcohol + sugar + bmi + b
    
    return determineLifespan

In [ ]:
def determineLifespan(genetic, exercise, smoking, alcohol, sugar, bmi):
    
    genetic *= gen_coef
    exercise *= exe_coef
    smoking *= smo_coef
    alcohol *= alc_coef
    sugar *= sug_coef
    bmi *= bmi_coef
    b = 1.4769415857268626
    lifespan = genetic + exercise + smoking + alcohol + sugar + bmi + b
    
    return lifespan

determineLifespan(73.9, 0.9, 0, 2.4, 6.9, 29)

In [ ]:
def determineLifespan(genetic, exercise, smoking, alcohol, sugar, bmi):
    
    genetic *= gen_coef
    pass

In [55]:
# Lifestyle en genetic geeft 90% R2 waarde
# bmi geeft 99% r2 waarde

#  Conclusie genetic is leidend voor het bepalen van de lifespan op basis van deze data. Genetic age een moeilijke waarde om in te vullen en maakt het hoogdrempeliger. Impact lijkt lager.