In [114]:
#import libraries

import sqlite3

import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn import preprocessing, linear_model

In [119]:
# data inlezen sql

dbName = "rest_server/medisch_centrum_randstad/db.sqlite3"
tableName = "bmi"

dbConnection = sqlite3.connect(dbName)
# How to convert sqlite3 object to pd dataframe?
dfFromDB = pd.read_sql_query(f"SELECT * FROM {tableName}", dbConnection)
pd.set_option('display.max_columns', 10)

df = dfFromDB.drop(['id'], axis=1)

df.head()

   genetic  exercise  smoking  alcohol  sugar  lifespan        bmi
0     84.0       2.0      9.0      1.0      2        86  27.777778
1     84.0       3.0      2.0      7.0      3       100  18.983083
2     84.0       3.0     20.0      3.0      2        87  24.441802
3     84.0       2.0      6.0      5.0      3        91  22.305471
4     84.0       2.0     12.0      0.0      2        83  25.451114

In [134]:
df = pd.read_csv('./data/df_bmi.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4086 entries, 0 to 4085
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genetic   4086 non-null   float64
 1   exercise  4086 non-null   float64
 2   smoking   4086 non-null   float64
 3   alcohol   4086 non-null   float64
 4   sugar     4086 non-null   float64
 5   lifespan  4086 non-null   float64
 6   bmi       4086 non-null   float64
dtypes: float64(7)
memory usage: 223.6 KB

In [135]:
# Verschillende dataframes benoemen die aangroepen kunnen worden

# Default
v1 = ['genetic','exercise','smoking','alcohol','sugar','bmi']

# Default without genetic 'lifestyle'
v2 = ['exercise','smoking','alcohol','sugar','bmi']

# Default without bmi
v3 = ['genetic','exercise','smoking','alcohol','sugar']

# Only lifestyle (not genetic and bmi)
v4 = ['exercise','smoking','alcohol','sugar']

# Only genetic > negatieve intercept
v5 = ['genetic']

# Only BMI

v6 = ['bmi']

version_list = [v1,v2,v3,v4,v5]

In [144]:
def calculateModel(dataframe, version):
    x = dataframe[version]
    y = dataframe.loc[:, 'lifespan']
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state = 42)
    
    model = LinearRegression()
    model.fit(x_train,y_train)
    predictions = model.predict(x_test)

    ms_error =  mean_squared_error(y_test, predictions)
    ma_error = mean_absolute_error(y_test, predictions)
    
    coefs = list(zip(x.columns, model.coef_))
    
    r2 = r2_score(y_test, predictions)

    intercept = model.intercept_
    
    return (coefs, r2, intercept)

calculateModel(df, v4)

([('exercise', 0.49126608070442573),
  ('smoking', -0.2869705926518016),
  ('alcohol', -0.24269267396162464),
  ('sugar', -0.04852407331946559)],
 0.06963992667387653,
 82.49807356676824)