<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [44]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa"]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]

In [ ]:
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [43]:
# Oplossing

len(neptuneInnerMoons) == len(neptuneOutermoons)

True

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [45]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Triton is the largest moon of Neptune.

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [47]:
neptuneOutermoons.sort()
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Halimede is the largest moon of Neptune.

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [20]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

Neptune is the farthest planet of our solar system and it has 14 known moons.

In [21]:
neptuneMoons = list(zip(neptuneInnerMoons, neptuneOutermoons))
print(neptuneMoons[0])
type(neptuneMoons)

('Naiad', 'Halimede')

list

In [22]:
myMatrix = [
    1, 2, 3,
    4, 5, 6,
    ]

<h3>Map en join</h3>

In [40]:
neptuneInnerMoonsStr = ", ".join(map(str,sorted(neptuneInnerMoons))) 
print( f"In order of increasing distance, the list of { len(neptuneInnerMoons) } regular Neptune moons is {neptuneInnerMoonsStr}." )

In order of increasing distance, the list of 7 regular Neptune moons is Despina, Galatea, Hippocamp, Larissa, Naiad, Proteus, Thalassa.