# Referenties

Altijd beginnen met 'getting started':

https://pandas.pydata.org/docs/getting_started/index.html#getting-started

Dan een snel overzicht:

https://pandas.pydata.org/docs/user_guide/10min.html

Daarna kijken naar de API beschrijving:

https://pandas.pydata.org/docs/reference/index.html

# Installatie

Run `pip3 install pandas` in the terminal to install the Pandas library.

# Imports

In [2]:
import pandas as pd

import matplotlib.pyplot as plt

# Schetsen

In [138]:
# Dataframe maken
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [
            22,
            35,
            58
        ],
        "Sex": [
            "male",
            "male",
            "female"
        ],
    }
)

# Standaard print
# ...

# Vergelijk met
# ...

                       Name  Age     Sex
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [26]:
# Data opslaan
# ...

In [117]:
# Data inlezen
# ...

In [128]:
# De kolomnaam
# ...

In [129]:
# Een kolom lezen
# ...

In [108]:
# Een kolom verwijderen
# ...

In [130]:
# Een rij lezen
# ...

In [131]:
# Functie getRow() maken
# ...

In [132]:
# Een rij toevoegen
# ...

In [133]:
# Functie insertAt(row, index)
# ...

In [134]:
# Verkennen
# ...

In [135]:
# Filteren
# ...

In [136]:
# Groeperen
# ...

In [137]:
# Extra: toepassing OOP en het bouwen van je eigen library
# ...