In [1]:
# importeren librairies > inlezen ( df = pd.read_csv) > head (check of set nog oke is) > tail > describe > duplicates en drop cols (data exploratie en bewerking) > missing values (df.isnull) , why or random, impute (machine learning) or delete (df.dropna) > Outliers? (IQR, Inter Quartile Range) > Feature selection > Feature engineering

In [ ]:
# STAP 1 EDA

In [5]:
# Bepaal en importeer benodigde librairies

import json 
import pandas as pd
import requests
import numpy as np
import seaborn as sb

%matplotlib

Using matplotlib backend: TkAgg

In [6]:
# We doen een "aanvraag" bij de API. Deze url werkt alleen als de rest server gestart is. 

response = requests.get('http://localhost:8080/medish_centrum_randstad/api/netlify?page=1')

In [7]:
# Checken wat voor data/type we binnen hebben gekregen

response.headers['content-type']

'application/json'

In [8]:
# Van de teruggekregen data maken we een pandas dataframe
df = pd.read_json(response.text)
df.head()

,status,total_nr_of_records,nr_of_pages,page_size,next,data
0,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 180, 'mass': 90, 'ex..."
1,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 204, 'mass': 79, 'ex..."
2,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 174, 'mass': 74, 'ex..."
3,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 187, 'mass': 78, 'ex..."
4,200,8192,82,100,http://localhost:8080/medish_centrum_randstad/...,"{'genetic': 84, 'length': 187, 'mass': 89, 'ex..."

In [ ]:
# De ruwe data van de website is op zichzelf onbruikbaar: de data bevat fouten en hiaten. Aan jullie de taak om dit om te zetten naar een bruikbare set. Bedenk ook hoe deze stap past in je data pipeline en hoe je dit kunt automatiseren.